# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
### C++ template
# Prerequisites

# Compiled Object files

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries

# Executables
### C template
# Prerequisites

# Object files
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)
*.so.*

# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/
CMakeLists.txt
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.7.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.7.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/EpitechBabel.dir/
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/qtproject.dir/
cmake-build-debug/EpitechBabel.cbp
cmake-build-debug/Makefile
cmake-build-debug/cmake_install.cmake
cmake-build-debug/qtproject.cbp
